/**
 * This file contains all the DRY css needed
 *  for contacts_manager
 */

/**
 * Theme colors
 */
$green            : #4caf50;
$hover-background : #ddd;
$background-color : #333;

/**
 * Font style
 */

$font-size: 20px;
$font-variant: all-petite-caps;

